body {
    background-color: white;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.header-container {
    display: flex;
    background-color: #fe1a19;
    height: 60px;
    align-items: center;
}

.footer-container {
    display: flex;
    background-color: #fe1a19;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.header-and-footer-text {
    color: #ffffff;
    margin-left: 20px;
}

.footer-logo {
    margin-right: 20px;
}

.recept-flex {
    display: flex;
    justify-content: center;
    margin-top: 52px;
    margin-bottom: 52px;
    align-items: center;
}

.recept-flex-item {   
    margin-left: 70px;
    width: 400px;
    border-radius: 30px;
    border: 5px solid #e5e000;
}

.item-title {
    margin-left: 33px;
}

.item-name {
    margin-left: 33px;
    text-transform: uppercase;
    font-family: 'Times New Roman', serif;
}

.item-text {
    margin-left: 33px;
    font-family: 'Times New Roman', serif;
}
